.root {    font-size: auto;}
*{background-image: url(8779512.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;}
*{    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333; 
}

h1, h2 {
    margin-bottom: 20px; /* Giảm bớt khoảng cách nếu cần */
}

h1 {
    font-size: 15vw; 
    color: #565656;
    margin-bottom: 10px;
    line-height: 1;
}

h1 span {
    font-size: 25vw;
    display: block;
}

h2 {
    font-size: 8vw; /* Chỉnh lại h2 dùng vw để nó cũng tự co giãn theo điện thoại */
    margin-bottom: 2rem;
    font-weight: 700;
}


.container {
    width: 100%;
    min-height: 100vh; /* Đảm bảo phủ hết chiều cao màn hình */
    display: flex;
    flex-direction: column; /* Xếp các chữ theo hàng dọc */
    justify-content: center; /* Căn giữa theo chiều dọc */
    align-items: center;     /* Căn giữa theo chiều ngang */
    text-align: center;      /* Căn giữa nội dung chữ */
    padding: 20px;           /* Khoảng cách an toàn với mép màn hình */
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-center {
    justify-content: center;
    align-items: center;
}
.container .btn{
    display: flex;
    padding: 12px 20px;
    background: rgb(177, 21, 0) ;
    font-size: 20px;
    color: antiquewhite;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 5px;
    transition: 1s ease;
}
.container .btn:hover{
    background-color: #fff;
    color: #1a3340;
}